@import url("../css/iconfont.css");
.left{text-align:left}
.right{text-align:right}
.center{text-align:center}
.vm{display:inline-block;vertical-align:middle;}
.borderBox{box-sizing:border-box;}
.hide{display:none}
.doTable{display:table;table-layout:fixed;width:100%;border-collapse: separate;
    &.hide{.hide;}
}
.doTd{display:table-cell;.borderBox;}